$color_1: rgb(255, 255, 255);
$color_2: #7234c3;
$color_3: #fff;
$color_4: red;
$color_5: #d5d6d6;
$background-color_1: rgba(0, 122, 252, 0.9);
$background-color_2: rgb(0, 110, 252);
$background-color_3: rgb(0, 122, 252);
$background-color_4: rgba(255, 255, 255, 0.7);
$background-color_5: currentColor;
$background-color_6: #e9edf4;
$background-color_7: #42ccfd;
$background-color_8: #e8fafd;
$background-color_9: white;
$border-color_1: rgba(0, 122, 252, 0.9);

.marker-class {
    width: 10px;
    height: 10px;
    background: red;
}
.clusterer-change {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.clusterer-change__section {
    display: flex;
    align-items: center;
    gap: 10px;
}
.clusterer-change__input__label {
    font-size: 18px;
}
.clusterer-change__input {
    max-width: 75px;
    height: 100%;
    font-size: 16px;
    text-align: center;
    border: 2px solid rgba(0, 122, 252, 0.6);
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s ease;
    &:hover {
        border-color: $border-color_1;
    }
    &:active {
        border-color: $border-color_1;
    }
}
.clusterer-change__btn {
    border: none;
    cursor: pointer;
    padding: 7px 10px;
    color: $color_1;
    font-size: 16px;
    background-color: $background-color_1;
    border-radius: 10px;
    transition: background-color 0.2s;
    &:hover {
        background-color: $background-color_2;
    }
    &:active {
        background-color: $background-color_3;
    }
}
.circle {
    position: relative;
    width: 40px;
    height: 40px;
    color: $color_2;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: $background-color_4;
    transform: translate(-50%, -50%);
}
.circle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: $background-color_5;
    transform: translate3d(-50%, -50%, 0);
}
.circle-text {
    font-size: 12px;
    color: $color_3;
}
.pin {
    transform: translate(-50%, -100%);
}
.address_check {
    border: 1px solid #e9edf4;
    border-top: 0;
    width: 96.3%;
    margin-left: 4.8px;
}
.container_item {
    width: 100%;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    &:hover {
        background-color: $background-color_6;
    }
}
.marker {
    width: 27px !important;
    height: 32px !important;
    display: block !important;
    bottom: 0px;
    z-index: 2;
    position: absolute !important;
    img {
        width: 100%;
        height: 100%;
    }
}
.marker_default {
    font-size: 32px;
    color: $color_4;
    position: absolute;
    bottom: 0px;
}
.container_marker {
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.category_map_btn {
    top: 45px;
}
.category_item {
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 1px solid #e9edf4;
    &:last-child {
        border-bottom: none !important;
    }
    &:hover {
        background-color: $background-color_8;
    }
}
.check_category {
    background-color: $background-color_7 !important;
}
.type_map_btn {
    top: 90px !important;
}
.marker__container {
    position: relative;
}
.ymaps3x0--marker {
    &:hover {
        z-index: 5 !important;
    }
}
.fa-map-marker-alt {
    width: 27px;
    height: 32px;
    position: absolute;
    bottom: 0px;
    font-size: 32px;
    color: $color_4;
    z-index: 2;
}
.marker__info {
    width: 400px;
    position: absolute;
    left: 2px;
    bottom: 20px;
    background-color: $background-color_9;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
}
.marker__title {
    font-weight: 700;
}
.marker__close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    color: $color_5;
    &:hover {
        color: $color_4;
    }
}
